In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [2]:
df = pd.read_csv('../data//raw/Superstore.csv', encoding='latin1')

In [20]:
df.shape

(51290, 27)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        51290 non-null  object
 1   City            51290 non-null  object
 2   Country         51290 non-null  object
 3   Customer.ID     51290 non-null  object
 4   Customer.Name   51290 non-null  object
 5   Discount        51290 non-null  float64
 6   Market          51290 non-null  object
 7   è®°å½æ°       51290 non-null  int64
 8   Order.Date      51290 non-null  object
 9   Order.ID        51290 non-null  object
 10  Order.Priority  51290 non-null  object
 11  Product.ID      51290 non-null  object
 12  Product.Name    51290 non-null  object
 13  Profit          51290 non-null  float64
 14  Quantity        51290 non-null  int64
 15  Region          51290 non-null  object
 16  Row.ID          51290 non-null  int64
 17  Sales           51290 non-null  int64
 18  Segment         51290 non-null  object
 19  Ship.Date       51290 non-null  object
 20  Ship.Mode       51290 non-null  object
 21  Shipping.Cost   51290 non-null  float64
 22  State           51290 non-null  object
 23  Sub.Category    51290 non-null  object
 24  Year            51290 non-null  int64
 25  Market2         51290 non-null  object
 26  weeknum         51290 non-null  int64
dtypes: float64(3), int64(6), object(18)
memory usage: 10.6+ MB

In [7]:
#Explore numerical distributions
df.describe()

,Discount,è®°å½æ°,Profit,Quantity,Row.ID,Sales,Shipping.Cost,Year,weeknum
count,51290.000000,51290.0,51290.000000,51290.000000,51290.00000,51290.000000,51290.000000,51290.000000,51290.000000
mean,0.142908,1.0,28.610982,3.476545,25645.50000,246.498440,26.375818,2012.777208,31.287112
std,0.212280,0.0,174.340972,2.278766,14806.29199,487.567175,57.296810,1.098931,14.429795
min,0.000000,1.0,-6599.978000,1.000000,1.00000,0.000000,0.002000,2011.000000,1.000000
25%,0.000000,1.0,0.000000,2.000000,12823.25000,31.000000,2.610000,2012.000000,20.000000
50%,0.000000,1.0,9.240000,3.000000,25645.50000,85.000000,7.790000,2013.000000,33.000000
75%,0.200000,1.0,36.810000,5.000000,38467.75000,251.000000,24.450000,2014.000000,44.000000
max,0.850000,1.0,8399.976000,14.000000,51290.00000,22638.000000,933.570000,2014.000000,53.000000

In [14]:
df.head()

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,è®°å½æ°,Order.Date,Order.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,1,2011-01-07 00:00:00.000,CA-2011-130813,...,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,1,2011-01-21 00:00:00.000,CA-2011-148614,...,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,111,Consumer,2011-08-09 00:00:00.000,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,1,2011-09-29 00:00:00.000,CA-2011-146969,...,6,Consumer,2011-10-03 00:00:00.000,Standard Class,1.32,California,Paper,2011,North America,40

In [6]:
#Explore missing values
df.isnull().sum()

Category          0
City              0
Country           0
Customer.ID       0
Customer.Name     0
Discount          0
Market            0
è®°å½æ°         0
Order.Date        0
Order.ID          0
Order.Priority    0
Product.ID        0
Product.Name      0
Profit            0
Quantity          0
Region            0
Row.ID            0
Sales             0
Segment           0
Ship.Date         0
Ship.Mode         0
Shipping.Cost     0
State             0
Sub.Category      0
Year              0
Market2           0
weeknum           0
dtype: int64

In [10]:
df.dtypes

Category           object
City               object
Country            object
Customer.ID        object
Customer.Name      object
Discount          float64
Market             object
è®°å½æ°           int64
Order.Date         object
Order.ID           object
Order.Priority     object
Product.ID         object
Product.Name       object
Profit            float64
Quantity            int64
Region             object
Row.ID              int64
Sales               int64
Segment            object
Ship.Date          object
Ship.Mode          object
Shipping.Cost     float64
State              object
Sub.Category       object
Year                int64
Market2            object
weeknum             int64
dtype: object

In [11]:
print("UNIQUE VALUES PER COLUMN:")
for col in df.columns:
    print(f"{col}: {df[col].nunique()}")

UNIQUE VALUES PER COLUMN:
Category: 3
City: 3636
Country: 147
Customer.ID: 4873
Customer.Name: 795
Discount: 27
Market: 7
è®°å½æ°: 1
Order.Date: 1430
Order.ID: 25035
Order.Priority: 4
Product.ID: 10292
Product.Name: 3788
Profit: 24575
Quantity: 14
Region: 13
Row.ID: 51290
Sales: 2246
Segment: 3
Ship.Date: 1464
Ship.Mode: 4
Shipping.Cost: 16877
State: 1094
Sub.Category: 17
Year: 4
Market2: 6
weeknum: 53

In [18]:
df['Region'].value_counts()

Region
Central           11117
South              6645
EMEA               5029
North              4785
Africa             4587
Oceania            3487
West               3203
Southeast Asia     3129
East               2848
North Asia         2338
Central Asia       2048
Caribbean          1690
Canada              384
Name: count, dtype: int64

In [19]:
df['Category'].value_counts()

Category
Office Supplies    31273
Technology         10141
Furniture           9876
Name: count, dtype: int64

In [15]:
df.duplicated().sum()

0

In [17]:
print(f"Memory usage: {df.memory_usage().sum() / 1024**2:.2f} MB")

Memory usage: 10.57 MB

In [ ]:
print(f"Total Sales: ${df['Sales'].sum():,.2f}")
print(f"Average Order Value: ${df['Sales'].mean():.2f}")

Total Sales: $12,642,905.00
Average Order Value: $246.50

In [ ]:
print(f"Total Profit: ${df['Profit'].sum():,.2f}")
print(f"Profit Margin: {(df['Profit'].sum() / df['Sales'].sum()) * 100:.2f}%")

Total Profit: $1,467,457.29
Profit Margin: 11.61%

In [27]:
print(f"Date Range: {df['Order.Date'].min()} to {df['Order.Date'].max()}")

Date Range: 2011-01-01 00:00:00.000 to 2014-12-31 00:00:00.000

In [31]:
# Show first 5 categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols[:5]:  
    print(f"\n{col}:")
    print(df[col].value_counts().head())

Category:
Category
Office Supplies    31273
Technology         10141
Furniture           9876
Name: count, dtype: int64

City:
City
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Santo Domingo    443
Name: count, dtype: int64

Country:
Country
United States    9994
Australia        2837
France           2827
Mexico           2644
Germany          2065
Name: count, dtype: int64

Customer.ID:
Customer.ID
JG-158051    40
WB-218504    37
BC-111252    37
AF-108701    36
JG-158052    35
Name: count, dtype: int64

Customer.Name:
Customer.Name
Muhammed Yedwab    108
Steven Ward        106
Gary Hwang         102
Bill Eplett        102
Patrick O'Brill    102
Name: count, dtype: int64